.header {
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-between;
}
.logo {
    margin:auto 0;
}

.user-info {
    margin:auto 0;
}

.page-contents {
    margin-top:50px;
}